* {
    font-family: cursive;

    /*CLASS SELECTOR*/
    .my_class {
        color: brown
    }

    /*ID SELECTOR*/
    #my_id {
        color: pink
    }

    /*GROUP SELECTOR*/
    h5,
    p {
        color: greenyellow
    }